*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #d9d9d9;
  line-height: 1.7;
  color: #202020;
}

.flex {
  display: flex;
}
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.items-end {
  align-items: end;
}

.flex-wrap {
  flex-wrap: wrap;
}

.header-div {
  display: flex;
  background-color: rgb(205, 92, 92);
  align-items: center;
  justify-content: space-between;
  padding: 0.7em 2em;
  position: relative;
}

.hamburger-menu {
  width: 25px;
  cursor: pointer;
}

.logo {
  margin: 0 auto;
}

.input-field:has(+ .error) {
  border: 1px solid red;
}

.logo img {
  width: 70px;
  cursor: pointer;
}

.navbar-options-div {
  position: absolute;
  background-color: rgb(205, 92, 92);
  color: #fff;
  top: 73px;
  width: 100%;
  left: 0;
  right: 0;
  padding: 1em 2em;
  display: none;
  z-index: 99;
}

.navbar-options-div a {
  color: #fff;
  text-decoration: none;
  display: block;
  font-weight: 600;
}

.nav-links + .nav-links {
  margin-top: 1.5em;
}

.show-menu {
  display: block;
}

.faq-wrapper,
.app-wrapper {
  width: 70%;
  margin: 2em auto;
}

.heading {
  color: rgb(205, 92, 92);
  font-weight: 600;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1em;
}

.app-question,
.faq-question {
  color: #610013;
  font-weight: 600;
}

.faq-container,
.app-question-container {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.faq-div {
  border-bottom: 1px solid #ccc;
}

.faq-item {
  padding: 1em;
  cursor: pointer;
}

.question-div img {
  width: 15px;
}

.answer-div {
  margin-top: 1.5em;
}

.rotate-icon {
  transform: rotate(180deg);
}

.button-div {
  background-color: #fff;
  text-align: center;
  padding: 1em;
  margin-top: 7em;
}

.report-incident-btn {
  background-color: DarkRed;
  color: #fff;
  border-radius: 1em;
  padding: 1em;
  border: none;
  font-weight: 600;
  cursor: pointer;
  font-size: 1rem;
  display: inline-block;
  text-decoration: none;
  min-width: 157px;
}

.form-container {
  width: 70%;
  margin: auto;
}

.error {
  color: red;
}

.form-progress-container {
  background-color: #f0f0f0;
  padding: 1em;
}

.progress-bar {
  background-color: #d9d9d9;
  overflow: hidden;
  border-radius: 10px;
  margin-top: 0.5em;
}

.form-heading {
  color: #be4c5b;
  font-weight: 600;
  text-align: center;
}

.progress {
  height: 20px;
  background-color: #be4c5b;
  transition: width 0.5s ease;
}

.step-container {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 1em 1.5em;
  border-radius: 10px;
  margin-top: 2em;
  position: relative;
}

.someone-else-container {
  margin-top: 100px;
}

.whoVictimWrapper {
  height: 100px;
}

.whoVictimContainer {
  position: absolute;
  top: 1em;
}

.form-buttons-div {
  /* position: absolute; */
  background-color: #fff;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1em;
  margin-top: 2em;
}

.form-button {
  background-color: DarkRed;
  color: #fff;
  border-radius: 3em;
  padding: 0.7em 2em;
  border: none;
  font-weight: 600;
  cursor: pointer;
  font-size: 1rem;
  display: inline-block;
  text-decoration: none;
}

.form-button.secondary {
  background-color: #fff;
  color: DarkRed;
  border: 2px solid DarkRed;
  font-size:0.8em;
}

.previous-btn {
  background-color: white;
  color: DarkRed;
  font-weight: bold;
  border: 2px solid DarkRed;
}

.previous-btn::before {
  content: "←";
  margin-right: 0.5em;
  color: DarkRed;
}

.next-btn::after {
  content: "→";
  margin-left: 0.5em;
}

.step-heading {
  font-weight: 500;
  margin-bottom: 1em;
}

input,
select,
textarea {
  width: 100%;
  display: block;
}
textarea {
  resize: none;
}

textarea::-webkit-scrollbar {
  width: 0;
  display: none;
}

label {
  font-weight: 500;
  display: block;
  margin-bottom: 0.5em;
}

.select-dropdown {
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 0.7em 1em;
}

.input-field {
  border-radius: 5px;
  padding: 0.7em 1em;
  border: 2px solid #ccc;
}

.dateField {
  border: 2px solid DarkRed;
  color: DarkRed;
}

::-webkit-calendar-picker-indicator {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 24 24"><path fill="DarkRed" d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z"/></svg>');
  font-size: 1.3rem;
}

.word-count {
  text-align: right;
  color: DarkRed;
  font-weight: 600;
  margin-top: 1em;
  font-size: 0.9rem;
}

.radio {
  display: flex;
  position: relative;
  margin: 0.5rem;
}
.radio input[type="radio"] {
  position: absolute;
  opacity: 0;
  overflow: hidden;
  left: 0;
  right: 0;
  width: 200px;
  height: 23px;
  z-index: 2;
}
.radio input[type="radio"] + .radio-label:before {
  content: "";
  background: #fff;
  border-radius: 100%;
  border: 1px solid #ccc;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  position: relative;
  top: -0.2em;
  margin-right: 1em;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
  transition: all 250ms ease;
  box-shadow: inset 0 0 0 4px #fff;
}
.radio input[type="radio"]:checked + .radio-label:before {
  background-color: #fff;
  box-shadow: inset 0 0 0 4px IndianRed;
  border: 1px solid #fff;
}

.radio input[type="radio"] + .radio-label:empty:before {
  margin-right: 0;
}

.more-victims-div {
  background-color: #f3f3f4;
  padding: 1em;
  border-radius: 10px;
}

.form-wrap {
  background-color: #fff;
}

.font-bold {
  font-weight: 700;
}

.summary-container {
  padding: 1em;
  background-color: #f3f3f4;
  margin-bottom: 1em;
}

.property-label {
  font-weight: 600;
  color: #be4c5b;
}
.property-value {
  font-weight: 600;
  margin-bottom: 0.5em;
}

.victim-heading {
  color: IndianRed;
  text-align: left;
}

.summary-values {
  color: #202020;
}

.success-div {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.success-heading {
  color: IndianRed;
  font-size: 2rem;
  text-align: center;
  line-height: 1.3;
  margin-bottom: 0.5em;
}

.home-btn {
  min-width: 98px;
  padding: 0.5em 1.5em;
}

.thank-you-text {
  width: 50%;
  text-align: center;
}

@media (max-width: 900px) {
  .form-container,
  .app-wrapper,
  .faq-wrapper {
    width: 90%;
  }

  .thank-you-text {
    width: 95%;
    text-align: center;
  }

  .radio input[type="radio"] {
    width: 100px;
  }
}

@media (max-width: 600px) {
  .form-container {
    width: 100%;
  }
  .step-container {
    width: 95%;
    margin: 2em auto;
    padding: 1em;
  }

  .header-div {
    padding: 0.7em 1em;
  }

  .form-button {
    padding: 0.7em 1em;
    font-size: 0.9rem;
  }

  .error,
  label {
    font-size: 0.9rem;
  }
}

.inline {
  display: inline;
}

.mt-3 {
  margin-top: 1em;
}

.mt-5 {
  margin-top: 2em;
}

.mt-7 {
  margin-top: 3em;
}

.mt-9 {
  margin-top: 5em;
}

.mt-11 {
  margin-top: 7em;
}

.mb-3 {
  margin-bottom: 1em;
}

.mb-5 {
  margin-bottom: 1em;
}

.py-3 {
  padding-top: 1em;
  padding-bottom: 1em;
}

.py-5 {
  padding-top: 2em;
  padding-bottom: 2em;
}

.py-7 {
  padding-top: 3em;
  padding-bottom: 3em;
}

.py-9 {
  padding-top: 5em;
  padding-bottom: 5em;
}

.px-3 {
  padding-left: 1em;
  padding-right: 1em;
}

.px-5 {
  padding-left: 2em;
  padding-right: 2em;
}

.px-7 {
  padding-left: 3em;
  padding-right: 3em;
}

.px-9 {
  padding-left: 5em;
  padding-right: 5em;
}

.gap-4 {
  gap: 1em;
}
